<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends './dashboard.html' %}
    {% block container1 %}
    <ul><li> 
        <a href="{% url 'login' %}">logout</a>
    </li></ul> {% endblock container1 %} <br> <br>
    <div class = container2>
        {% block container2 %}<h1>Saved Incident</h1> 
        {% for var in incident %}
        {{var}} <br> <br>
        {% endfor %}
        {% endblock container2 %}</div>
    
</body>
</html>